@use "sass:color";
@use "mixins";
@use "variables";

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: 22px;
  font-size: 15px;
  height: 44px;
  min-width: 180px;
  padding: 0 30px;

  & + & {
    margin-left: 10px;
  }
}

a.btn {
  text-decoration: none;
}

.btn-block {
  width: 100%;
}

.btn-sm {
  border-radius: 15px;
  font-size: 14px;
  height: 30px;
  min-width: 100px;
  padding: 0 15px;
}

/* Colors */
.btn-primary {
  background: variables.$brand;
  color: white;

  &:hover:not(:disabled) {
    background: color.adjust(variables.$brand, $lightness: -5%);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.btn-sky {
  background: variables.$sky;
  color: white;

  &:hover:not(:disabled) {
    background: color.adjust(variables.$sky, $lightness: -5%);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.btn-danger {
  background: variables.$red;
  color: white;

  &:hover:not(:disabled) {
    background: color.adjust(variables.$red, $lightness: -5%);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.btn-light {
  background: variables.$line;
  color: variables.$brand;

  &:hover:not(:disabled) {
    background: color.adjust(variables.$line, $lightness: -5%);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.btn-link {
  color: variables.$sky;
  text-decoration: underline;
}

.btn-icon-group {
  @include mixins.flex();
  margin: -10px;
}

.btn-icon {
  @include mixins.flex();

  border-radius: 5px;
  padding: 10px;

  &:hover {
    background: rgba(32, 67, 181, 0.05);
  }
}
