@use "sass:color";
@use "forms";
@use "mixins";
@use "variables";

@use 'sass:math';

forms.$border: 1px solid variables.$line;
$box-shadow: color.adjust(black, $alpha: -0.95);
$padding: 25px;
$padding-small: 20px;

.card {
  background: rgba(255, 255, 255, 0.04);

  @media (max-width: variables.$breakpoint - 1) {
    box-shadow: 0 8px 24px 0 $box-shadow;
    border: forms.$border;
    border-radius: variables.$radius;

    & & {
      border: forms.$border;
      border-radius: variables.$radius;
    }
  }

  @media (min-width: variables.$breakpoint) {
    border: forms.$border;
    border-radius: variables.$radius;
    box-shadow: 0 8px 24px 0 $box-shadow;
  }

  & & {
    box-shadow: unset;
  }
}

.card-header {
  @include mixins.flex(space-between);

  font-size: 15px;
  font-weight: 500;

  .card-actions {
    @include mixins.flex();
    flex: none;
  }

  .card-small & {
    font-size: 13px;
  }

  @media (max-width: variables.$breakpoint - 1) {
    padding: variables.$gutter;
  }

  @media (min-width: variables.$breakpoint) {
    padding: 12px $padding;

    .card-small & {
      padding: $padding-small;
    }
  }

  &.bordered {
    border-bottom: forms.$border;
  }

  &.bg {
    background: variables.$bg-hover;
  }

  &.collapsed {
    padding-bottom: 0;
  }
}

.card-body {
  font-size: 14px;
  @media (max-width: variables.$breakpoint - 1) {
    padding: variables.$gutter;
  }

  @media (min-width: variables.$breakpoint) {
    padding: $padding;

    .card-small & {
      padding: $padding-small;
      padding-top: math.div($padding-small, 2);
    }
  }
}

.card-footer {
  @media (max-width: variables.$breakpoint - 1) {
    padding: variables.$gutter;
  }

  @media (min-width: variables.$breakpoint) {
    padding: $padding;

    .card-small & {
      padding: $padding-small;
    }
  }
}
