@use "forms";
@use "mixins";
@use "variables";

@use "sass:math";

forms.$border: 1px solid variables.$line;
$box-shadow: 0 10px 28px rgba(0, 0, 0, 0.18);
$padding: 24px;
$padding-small: 20px;

.card {
  background: variables.$panel;

  @media (max-width: variables.$breakpoint - 1) {
    box-shadow: $box-shadow;
    border: forms.$border;
    border-radius: variables.$radius;

    & & {
      border: forms.$border;
      border-radius: variables.$radius;
    }
  }

  @media (min-width: variables.$breakpoint) {
    border: forms.$border;
    border-radius: variables.$radius;
    box-shadow: $box-shadow;
  }

  & & {
    box-shadow: unset;
  }
}

.card-header {
  @include mixins.flex(space-between);

  font-size: 14px;
  font-weight: 700;

  .card-actions {
    @include mixins.flex();
    flex: none;
  }

  .card-small & {
    font-size: 13px;
  }

  @media (max-width: variables.$breakpoint - 1) {
    padding: variables.$gutter;
  }

  @media (min-width: variables.$breakpoint) {
    padding: 12px $padding;

    .card-small & {
      padding: $padding-small;
    }
  }

  &.bordered {
    border-bottom: forms.$border;
  }

  &.bg {
    background: variables.$bg-hover;
  }

  &.collapsed {
    padding-bottom: 0;
  }
}

.card-body {
  font-size: 14px;
  @media (max-width: variables.$breakpoint - 1) {
    padding: variables.$gutter;
  }

  @media (min-width: variables.$breakpoint) {
    padding: $padding;

    .card-small & {
      padding: $padding-small;
      padding-top: math.div($padding-small, 2);
    }
  }
}

.card-footer {
  @media (max-width: variables.$breakpoint - 1) {
    padding: variables.$gutter;
  }

  @media (min-width: variables.$breakpoint) {
    padding: $padding;

    .card-small & {
      padding: $padding-small;
    }
  }
}
