@use "grid";
@use "tables";
@use "buttons";
@use "forms";
@use "card";
@use "badge";
@use "text";
@use "mixins";
@use "variables";

/* flex */
.flex {
  @include mixins.flex(flex-start);
}

.space-between {
  justify-content: space-between;
}

/* utils */
.clickable {
  cursor: pointer;
  color: variables.$sky;
  white-space: nowrap;
}

.mobile {
  @media (min-width: variables.$breakpoint) {
    display: none !important;
  }
}

.desktop {
  @media (max-width: variables.$breakpoint - 1) {
    display: none !important;
  }
}

.desktop-large {
  @media (max-width: variables.$breakpoint-large - 1) {
    display: none !important;
  }
}

/* border */
.border {
  $border: 1px solid variables.$line;
  border: $border;

  &-top {
    border-top: $border;
  }

  &-bottom {
    border-bottom: $border;
  }

  &-left {
    border-left: $border;
  }

  &-right {
    border-right: $border;
  }
}
