$app-fg: #eaf5eb;
$app-bg: #52c41a;
$brand: #52c41a;
$link: #7fe35a;
$link-bg: #52c41a;
$line: rgba(234, 245, 235, 0.12);
$bg-hover: rgba(255, 255, 255, 0.04);
$a-bg: rgba(82, 196, 26, 0.12);

$green: #52c41a;
$red: #ff5561;
$orange: #fd9a02;
$navy: #0c1411;
$sky: #7fe35a;
$table-head: rgba(82, 196, 26, 0.08);
/* Sizes */
$breakpoint: 960px;
$breakpoint-large: 1024px;
$gutter: 20px;
$gutter-large: 30px;
$radius: 5px;
$max-width: (1180px + (2 * $gutter-large));
