@use "../styles/variables.scss";

.logo {
  color: variables.$app-fg;
}

.hero {
  --bui-brand-icon-size: 34px !important;
}

.hero :global(.bui-brand-wordmark) {
  font-size: 28px;
}

@media (max-width: variables.$breakpoint) {
  .hero {
    --bui-brand-icon-size: 24px !important;
  }

  .hero :global(.bui-brand-wordmark) {
    font-size: 20px;
  }
}
