@use "../styles/mixins";
@use "../styles/variables";

.component {
  @include mixins.flex();

  @media (max-width: variables.$breakpoint - 1) {
    flex-direction: column;
    text-align: center;
    > svg {
      height: 30px !important;
      width: 30px !important;
    }
  }

  @media (min-width: variables.$breakpoint) {
    justify-content: flex-start;
  }

  margin: 25px 0;

  .content {
    @media (min-width: variables.$breakpoint) {
      margin-left: 20px;
    }
  }

  h1 {
    font-size: 20px;
    font-weight: 500;

    @media (max-width: variables.$breakpoint - 1) {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  p {
    font-size: 15px;
  }
}
