@use "../styles/variables";

.container {
  border-radius: variables.$radius;
  border: 1px solid variables.$line;
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.025);
  color: variables.$muted;
  overflow-x: auto;
  min-width: unset;
  font-size: 14px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
