@import "../styles/variables.scss";

.wrapper {
  width: 160px;
  height: 36px;
  @media (max-width: $breakpoint) {
    width: 100px;
    height: 28px;
  }
}

.menuAnchor {
  position: relative;
  width: 100%;
  height: 100%;
}

.selectButton {
  width: 100%;
  height: 100%;
  padding: 0 41px 0 10px;
  border-radius: 3px;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  font-size: 13px;
  color: #fff;
  font-weight: 300;
  letter-spacing: -0.2px;
  text-transform: capitalize;
  background: transparent;
  text-align: left;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: $breakpoint) {
    font-size: 11px;
    padding: 0 27px 0 10px;
  }
}

.label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background: #0c1411;
  border: 0;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
  z-index: 20;
  padding: 0;
  list-style: none;
}

.menu li {
  line-height: 28px;
  height: 28px;
}

.option {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0 10px;
  line-height: 28px;
  height: 28px;
  font-size: 12px;
  color: $app-fg;
  text-transform: capitalize;
  background: transparent;
  border: 0;
  min-height: 0;
  @media (max-width: $breakpoint) {
    font-size: 10px;
    line-height: 28px;
    height: 28px;
  }
  &:hover {
    background: rgba(82, 196, 26, 0.18);
  }
}

.active {
  background: rgba(82, 196, 26, 0.28);
}

.addon {
  position: absolute;
  top: 1px;
  bottom: 1px;
  right: 1px;
  display: block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 34px;
  border-left: 1px solid hsla(0, 0%, 100%, 0.3) !important;
  background: transparent;
  text-align: center;
  color: #fff !important;
  line-height: 34px;
  pointer-events: none;
  @media (max-width: $breakpoint) {
    width: 27px !important;
  }
  i {
    font-size: 18px;
    vertical-align: middle;
    margin-top: -2px;
    @media (max-width: $breakpoint) {
      height: 24px;
    }
  }
}
