@use "../../styles/mixins";
@use "../../styles/variables";

.meta {
  @media (max-width: variables.$breakpoint - 1) {
    display: none;
  }

  font-size: 12px;
  font-weight: normal;
  opacity: 0.5;
  margin-left: 10px;
  line-height: 36px;
}

.card {
  display: flex;

  .article {
    flex: 1;
  }

  .button {
    flex: none;
  }
}

.article {
  white-space: nowrap;

  @media (max-width: variables.$breakpoint - 1) {
    white-space: normal;
  }
}

.header {
  @include mixins.flex(space-between);
  gap: 12px;
  min-width: 0;
}

.denom {
  @include mixins.flex(center);
  font-size: 16px;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.action {
  @include mixins.flex(center, flex-end);
  flex-direction: column;
  flex: 0 1 48%;
  min-width: 0;
  overflow: hidden;
}

.amount {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (max-width: variables.$breakpoint - 1) {
    font-size: 16px;
  }

  @media (min-width: variables.$breakpoint) {
    font-size: 20px;
  }
}

.currency {
  color: variables.$brand;
  opacity: 0.5;
  @media (max-width: variables.$breakpoint - 1) {
    font-size: 11px;
  }

  @media (min-width: variables.$breakpoint) {
    font-size: 13px;
  }
}

.button button {
  @media (max-width: variables.$breakpoint - 1) {
    margin-left: 5px;
    min-width: unset;
  }

  @media (min-width: variables.$breakpoint) {
    margin-left: 25px;
  }
}

.token_wrapper {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  min-width: 0;
}

.tokenLink {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
}

.icon {
  display: flex;
  flex: none;
  border-radius: 50%;
  padding: 3px;
  margin-right: 5px;
}
