@use "../../styles/list";
@use "../../styles/variables";

.cardTitle {
  background: variables.$table-head;
}

.cardBodyContainer {
  overflow-x: auto;
}

/* contract */
.h3 {
  font-size: 14px;
  font-weight: 500;

  &:not(:first-child) {
    margin-top: 25px;
  }
}

.wrapper {
  border-radius: 3px;
  border: 1px solid variables.$line;
}

.table {
  box-sizing: border-box;
  tr:not(:first-child) {
    border-top: 1px solid variables.$line;
  }

  th {
    background: rgba(255, 255, 255, 0.026);
    font-weight: normal;
    vertical-align: top;
    width: 150px;
  }

  tr {
    th {
      font-size: 14px;
      padding: 15px 20px;
    }

    td {
      font-size: 14px;
      padding: 15px 0px 15px 20px;
    }
  }

  pre {
    margin: 0;
  }
}
