@use "../../styles/variables";

.wrapper {
  display: flex;
  align-items: center;
  height: 80px;
  border-radius: variables.$radius;
  background: variables.$panel;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.14);
  border: solid 1px variables.$line;
  padding: 15px 0px 15px 25px;
  margin-bottom: 21px;
}

.icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;

  @media (max-width: variables.$breakpoint) {
    width: 30px;
    height: 30px;
  }
}

.name {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  @media (max-width: variables.$breakpoint) {
    font-size: 15px;
  }
}

.symbol {
  font-weight: 400;
}

.vertical {
  border-left: 1px solid variables.$line;
  height: 20px;
  margin: 5px 10px 5px 10px;
  @media (max-width: variables.$breakpoint) {
    height: 12px;
  }
}
