@use "../../styles/variables.scss";

.exportCsvButton {
  color: variables.$link;
  text-decoration: underline;
}

.loading {
  color: variables.$link;
}

.error {
  color: variables.$red;
  margin-left: 10px;
}
