@use "styles/mixins";
@use "styles/variables";
@use "styles/reboot.scss";
@use "styles/components";

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 24px;
  margin-top: 0px;
  > span {
    color: variables.$muted;
    font-weight: 500;
    font-size: 18px;
    padding-left: 6px;
  }
}

.type {
  display: inline-block;
  border-radius: 13px;
  height: 26px;
  background-color: rgba(variables.$brand, 0.18);
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  letter-spacing: -0.3px;
  color: variables.$brand;
  padding: 0 15px;
  vertical-align: middle;
}
