@use "../styles/variables";

.footer {
  border-top: 1px solid variables.$line;
  color: var(--bui-color-text-secondary);
  font-size: 12px;
}

.inner {
  width: 100%;
  max-width: 1440px;
  min-height: 52px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    display: flex;
    gap: 20px;
  }

  a {
    color: var(--bui-color-text-secondary);
  }

  @media (max-width: variables.$breakpoint) {
    padding: 0 15px;
  }
}
