@import "../styles/variables.scss";

.header {
  position: relative;
  background: rgba(12, 20, 17, 0.86);
  height: 56px;
  border-bottom: 1px solid rgba(234, 245, 235, 0.12);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.22);
  @media (max-width: $breakpoint) {
    height: 56px;
  }
}

.inner {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
  height: 56px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  height: 56px;
  @media (max-width: $breakpoint) {
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  a {
    display: block;
    padding: 0 40px;
    height: 56px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    @media (max-width: $breakpoint) {
      padding: 0 15px;
    }
  }
  a:hover {
    text-decoration: none;
  }
}

.search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 330px;
  width: 34%;
  max-width: 640px;
  margin-left: -320px;
  @media (max-width: $breakpoint) {
    top: 54px;
    transform: none;
    max-width: none;
    right: 0;
    width: 100%;
  }
}
